table, th,td
{border:none;}

.clr a
{text-decoration:none;
color:white;}

.head h2
{font-weight:bold; 
margin-left:50px;

text-align:left;
 font-size:20px;
 margin-top:50px;}

 .head p
 {font-size:16px;
 margin-left:50px;
 text-align:left;}
 
 
 .imag 
{
	margin-top:50px;
}

.head a
{border:1px solid black;
background:#2a3854;
padding:10px;color:white;
text-decoration:none;}

.back
{background:#2a3854;}

.back a
{border:1px solid black;
background:#b8353a;
margin-left:20px;
padding:10px;color:white;
text-decoration:none;}

.social img
{border:1px solid white;
border-radius:50%;
padding:10px;
margin-left:10px;}

.head2
{background:#f6f6f6;
text-align:left;
}

.head2 p
{line-height:25px;
margin-left:100px;}

.head2 h2
{margin-left:100px;}
.btn{width:50%;
height:25px;
}
.btn2{padding:10px 20px;
}
.head2 input{margin: 10px 0;}